<div class="container">
  <div class="card card-register"
       style="margin-left: 23vw; margin-top: 2vw; background: whitesmoke">
    <h3 class="title">Login for Coordinator</h3>
    <form method="post">
      <label style="color: #0b1011">Email</label>
      <div  >
        <input class="form-control" type="text" placeholder="Email" required>
      </div>
      <label style="color: #0b1011">Password</label>
      <div >
        <input class="form-control" type="text" placeholder="Password" required>
      </div>
      <div style="margin-top: 1vw">
        <a href="#" style="color: #0b1011">Forget Password?</a>
      </div>
      <button class="btn btn-danger" type="submit" style="width: 19vw">Upload Articles</button>
    </form>
  </div>
</div>
