<div class="container row col-md-12" style="margin-bottom: 10vw">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-3" style=" border: 1px solid #517777; border-radius: 20px; padding: 3%">
      <div class="row">
        <div class="col-xl-2">
        </div>
          <img class="col-xl-8 " style="width: 320px; height: 200px" src="https://i.pinimg.com/564x/40/3e/6d/403e6d4751905cca69e5a72015623f64.jpg">
        <div class="col-xl-2">
        </div>
      </div>
        <hr>
        <div class="row col-xl-12" style=" margin-top: 2vw; ">
          <h5 class="col-xl-12" style="text-align: center"> Vũ Duy Hoàng</h5>
        </div>
    </div>
    <div class="col-sm-5" style=" border: 1px solid #517777; border-radius: 20px; padding: 4%">
      <form>
        <label style="color: #0b1011">Name</label>
        <div  >
          <input class="form-control" type="text" placeholder="Title" required>
        </div>
        <div style="margin-top: 2vw">
          <label style="color: #0b1011">Description</label>
          <div >
            <textarea class="form-control" type="text" placeholder="Description" required></textarea>
          </div>
        </div>
        <div style="margin-top: 2vw">
          <button class="btn btn-primary" value="Upload File" type="button">Upload File</button>
        </div>
        <hr>
        <button class="btn btn-danger col-sm-12" type="submit">Upload Articles</button>
      </form>
    </div>
</div>
