<div class="container row col-md-12" style="margin-bottom: 10vw">
  <div class="col-sm-2">
  </div>
<div class="col-sm-4"
     style="
          background-color: #ffe28c;
         border: 1px solid #517777; border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <h4 style="text-align: center">List student this faculty</h4>
  <hr>
  <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
    <img  class="img-thumbnail col-xl-2" style="width: 53px"
          src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
    <label class="col-xl-4">Hello</label>
    <button class=" btn-primary col-xl-5">Delete</button>
  </div>
  <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
    <img  class="img-thumbnail col-xl-2" style="width: 53px"
          src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
    <label class="col-xl-4">LMAO</label>
    <button class=" btn-primary col-xl-5">Delete</button>
  </div>
  <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
    <img  class="img-thumbnail col-xl-2" style="width: 53px"
          src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
    <label class="col-xl-4">LMAO</label>
    <button class=" btn-primary col-xl-5">Delete</button>
  </div>
</div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4" style="margin-top: -1vw">
    <h4 style="text-align: center">List student</h4>
    <input style="margin-top: 1vw" class="form-control" type="text" placeholder="search">
    <hr>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Hello</label>
      <button class=" btn-primary col-xl-5">Add Student</button>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">LMAO</label>
      <button class=" btn-primary col-xl-5">Add Student</button>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Triết</label>
      <button class=" btn-primary col-xl-5">Add Student</button>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Minh</label>
      <button class=" btn-primary col-xl-5">Add Student</button>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Hiếu</label>
      <button class=" btn-primary col-xl-5">Add Student</button>
    </div>
  </div>
</div>
