<div class="container row col-md-12"
     style="background-image: url('https://i.pinimg.com/564x/42/ea/b5/42eab59aa26ff7bf40269031861438c9.jpg'); image-rendering: auto">
  <div class="col-sm-2">
  </div>
<div class="col-sm-4"
     style="
          background-color: #ffe28c; margin-bottom: 5vw;
          padding: 3%; border: 1px solid #517777; border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
  <h3 class="title">Add Student Faculty</h3>
  <hr>
  <form>
    <label style="color: #0b1011">StudentID</label>
    <div  >
      <input class="form-control" type="number" min="0" placeholder="ID" required>
    </div>
    <div style="margin-top: 2vw">
      <label style="color: #0b1011">Name</label>
      <div >
        <input class="form-control" type="text" placeholder="Name" required>
      </div>
    </div>
    <div style="margin-top: 2vw">
      <label style="color: #0b1011">Faculty ID</label>
      <div >
        <input class="form-control" type="number" min="0" placeholder="FacultyID" required>
      </div>
    </div>
    <hr>
    <div style="margin-top: 2vw">
      <button class="btn btn-danger col-sm-12" type="submit" style="">Add Into Faculty</button>
    </div>
  </form>
</div>
  <div class="col-sm-2">
  </div>
  <div class="col-sm-4" style="margin-top: -1vw">
    <h4 style="text-align: center">List student</h4>
    <hr>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Hello</label>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">LMAO</label>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Triết</label>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Minh</label>
    </div>
    <div class="col-xl-12" style="background-color: lavender; height: 3vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2" style="width: 53px"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Hiếu</label>
    </div>
  </div>
</div>
