<div class="container">
  <div class="col-sm-10"
       style="margin-left: 8vw; margin-top: 1vw; margin-bottom: 5vw;
        padding: 5%; border: 1px solid #517777; border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    <h3 style="text-align: center">Show Articles</h3>
    <hr>
      <div>
            <h3 style="color: #0b1011" ><a href="#">Title</a></h3>
            <label style="color: #0b1011; margin-top: 2vw">Written by: </label>
                <p>Description:Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.
                    Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                    Per facer affert ut. Mei iisque mentitum moderatius cu. Sit</p>
                  <p>:Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.
                  Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                  Per facer affert ut. Mei iisque mentitum moderatius cu. Sit....<a href="#">
                  More information of content</a></p>
           <label style="color: #0b1011; margin-top: 2vw">Written at date: </label>
            <hr>
      </div>
      <button class="btn btn-danger" type="submit" style="width: 10vw">Back to Home</button>
  </div>
</div>
