<div class="container row col-sm-12">
  <div class="col-sm-8" style=" margin-bottom: 5vw;">
      <div>
            <h3 style="color: #0b1011; text-align: center" ><a href="#">Name of title</a></h3>
            <label style="color: #0b1011; margin-top: 2vw;">Written by: </label>
                    <div  style="margin-left: 15vw;margin-top: 2vw">
                        <img src="https://i.pinimg.com/564x/40/3e/6d/403e6d4751905cca69e5a72015623f64.jpg"
                             style="width: 350px; height: 400px">
                    </div>
                <p>Description:Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.
                    Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                    Per facer affert ut. Mei iisque mentitum moderatius cu. Sit</p>
                  <p>:Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.
                  Vidit dissentiet eos cu eum an brute copiosae hendrerit. Eos erant dolorum an.
                  Per facer affert ut. Mei iisque mentitum moderatius cu. Sit....<a href="#">
                  More information of content , Click on file bellow</a></p>
            <hr>
            <div >
                <img src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg" style="width: 100px">
            </div>
            <hr>
           <label style="color: #0b1011; margin-top: 2vw">Written at date: </label>
            <hr>
      </div>
      <button class="btn btn-danger" type="submit" style="width: 10vw">Back to Home</button>
  </div>
    <div class="col-sm-4" style="margin-bottom: 5vw; border-left: 1px solid #517777;">
        <div style="margin-left: 12vw; margin-top: 2vw">
            <img src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg" style="width: 150px">
            <p class="align-content-center">Teacher</p>
            <hr>
        </div>
        <div>
            <img src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg" style="width: 30px">
                    <label style="margin-left: 1vw">Chào các em</label>
            <hr>
            <img src="https://i.pinimg.com/564x/c0/a3/e9/c0a3e9b064e8d25e69f85871a2626cdc.jpg" style="width: 30px">
            <label style="margin-left: 1vw">eqreqrqer</label>
            <hr>
            <img src="https://i.pinimg.com/564x/42/3d/30/423d306124fb1ff6daa67c55c787c3c3.jpg" style="width: 30px">
            <label style="margin-left: 1vw">bàlafae</label>
            <hr>
            <img src="https://i.pinimg.com/564x/8c/b6/3e/8cb63eb28c58c9a328497c4384051bc1.jpg" style="width: 30px">
            <label style="margin-left: 1vw">rhqrhqerqrq</label>
            <hr>
        </div>
    </div>
</div>
