<div class="container row col-md-12" >
  <div class="col-sm-3">
    <h4>All Faculty</h4>
    <hr>
      <div class="col-xl-12">
        <img class="col-xl-5"
              src="https://i.pinimg.com/564x/42/3d/30/423d306124fb1ff6daa67c55c787c3c3.jpg">
          <label class="col-xl-7">Database Design</label>
          <label class="col-xl-12"> Lorem ipsum dolor sit amet et delectus accommodare his consul
            at vix ad putent delectus delicata usu.
            Vidit dissentiet eos cu e.<a href="#">
              More information of content, Click</a></label>
      </div>
    <hr>
    <div class="col-xl-12">
        <img class="col-xl-5"
             src="https://i.pinimg.com/564x/42/3d/30/423d306124fb1ff6daa67c55c787c3c3.jpg">
        <label class="col-xl-7">Web Laravel</label>
        <label class="col-xl-12"> Lorem ipsum dolor sit amet et delectus accommodare his consul
          at vix ad putent delectus delicata usu.
          Vidit dissentiet eos cu e.<a href="#">
            More information of content, Click</a></label>
    </div>
  </div>
    <div class="col-sm-5"
         style="background-color: #ffe28c; margin-bottom: 5vw;
          padding: 4%; border: 1px solid #517777; border-radius: 20px;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
      <h3 class="title">Create Faculty</h3>
      <hr>
      <form>
        <label style="color: #0b1011">Name</label>
        <div  >
          <input class="form-control" type="text" placeholder="Name" required>
        </div>
        <div style="margin-top: 2vw">
          <label style="color: #0b1011">First for deadline</label>
          <div >
            <input class="form-control" type="date" placeholder="Date" required>
          </div>
        </div>
        <div style="margin-top: 2vw">
          <label style="color: #0b1011">Second for deadline</label>
          <div >
            <input class="form-control" type="date" placeholder="Date" required>
          </div>
        </div>
        <div style="margin-top: 2vw">
          <label style="color: #0b1011">Description</label>
          <div >
            <textarea class="form-control" type="text" placeholder="Description" required></textarea>
          </div>
        </div>
        <hr>
          <div style="margin-top: 2vw">
            <button class="btn btn-danger col-sm-12" type="submit" style="">Create Faculty</button>
          </div>
      </form>
    </div>
  <div class="col-sm-4">
      <h4 style="text-align: center">Faculty this Semester</h4>
    <hr>
    <div style="background-color: thistle; width: 32vw; height: 5vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Triết Học</label>
      <button class="btn btn-primary col-xl-5">Download File</button>
    </div>
    <div style="background-color: thistle; width: 32vw; height: 5vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail img-responsive col-xl-2"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Toán Cap Cấp</label>
      <button class="btn btn-primary col-xl-5">Download File</button>
    </div>
    <div style="background-color: thistle; width: 32vw; height: 5vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Web Development</label>
      <button class="btn btn-primary col-xl-5">Download File</button>
    </div>
    <div style="background-color: thistle; width: 32vw; height: 5vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">Java Programming</label>
      <button class="btn btn-primary col-xl-5">Download File</button>
    </div>
    <div style="background-color: thistle; width: 32vw; height: 5vw; border-radius: 8px; margin-top: 2vw">
      <img  class="img-thumbnail col-xl-2"
            src="https://i.pinimg.com/564x/a0/19/c0/a019c0dd116bd5a4a8627460c770ed62.jpg">
      <label class="col-xl-4">ASP.NET</label>
      <button class="btn btn-primary col-xl-5">Download File</button>
    </div>
  </div>
</div>
